<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="padding: 0; font-size: 16px">{{ wisata.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-icon
        (click)="uploadPhoto()"
        name="camera-outline"
        size="large"
        style="margin-right: 8px"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-card style="padding: 16px; border-radius: 12px">
          <ion-img
            style="border-radius: 12px !important; overflow: hidden"
            [src]="wisata.photo"
          ></ion-img>
          <ion-card-content
            style="padding-left: 8px; padding-right: 8px; font-size: 12px"
          >
            {{ wisata.description }} <br /><br />

            <ion-label style="font-weight: 500"
              >Jam Operasional : {{ wisata.openHour }} - {{ wisata.closeHour
              }}</ion-label
            ><br />
            <ion-label *ngIf="wisata.price > 0" style="font-weight: 500"
              >Harga Masuk : {{ wisata.price | currency: "Rp. " : "symbol"
              }}</ion-label
            >
            <ion-label *ngIf="wisata.price === 0" style="font-weight: 500"
              >-</ion-label
            >
          </ion-card-content>
        </ion-card>
        <div class="action">
          <ion-button [routerLink]="['./more']">
            <div class="action__style">
              <ion-icon
                style="padding-right: 12px"
                name="book-outline"
              ></ion-icon>
              <ion-label>Learn More</ion-label>
            </div>
          </ion-button>
          <ion-button
            [disabled]="(username === '') ? true : false"
            [routerLink]="['./review']"
          >
            <div class="action__style">
              <ion-icon
                style="padding-right: 12px"
                name="add-circle-outline"
              ></ion-icon>
              <ion-label>Review</ion-label>
            </div>
          </ion-button>
        </div>
        <div *ngFor="let review of wisataReview" class="review">
          <div class="review__title">
            <div style="display: flex; align-items: flex-start">
              <ion-avatar style="width: 20px; height: 20px">
                <img src="{{ review.userphoto }}" />
              </ion-avatar>
              <div style="margin-left: 8px">{{ review.username }}</div>
            </div>
            <div style="display: flex; align-items: flex-start">
              <img
                style="width: 16px; height: 16px"
                src="../../../../assets/icon/star.png"
              />
              <div style="margin-left: 4px">{{ review.rating }}/5</div>
            </div>
          </div>
          <div class="review__desc">{{ review.review }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
