.searchCity {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    & img {
        padding-right: 8px;
        padding-left: 8px;
    }
}

.subtitle {
    display: flex;
    justify-content: space-between;
}



.custom-font {
    font-family: 'Josefin Sans', sans-serif;
  }
  
  ion-toolbar {
    --background: transparent;
  
    ion-title {
      padding: 10px 0 20px 0;
      font-weight: 900;
    }
  
    .back-circle {
      z-index: -1;
      width: 200px;
      height: 200px;
      background: #e5ecf1;
      position: absolute;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
  
    }
}
ion-content {
  --background:linear-gradient(to bottom,rgba(71, 242, 255,0.5), rgba(243, 15, 255,0.5)), url('../../../../assets/img/background.jpg') 0 0/100% 100% no-repeat ;
}

.back-to-top-btn {
  background: #018cfd;
  position: fixed;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
  right: 10px;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 999;
}