<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <div class="searchCity">
          <img src="../../../../assets/icon/location.png" (click)="showCity()" />
          {{ defaultPlace }}
        </div>
        <ion-card *ngFor="let wisata of wisatas" style="padding: 8px" [routerLink]="['./', wisata.id]">
          <ion-card-title style="text-align: center; font-size: 18px; padding-bottom: 8px;">{{ wisata.name }}</ion-card-title>
          <ion-img [src]="wisata.photo"></ion-img>
          <ion-card-subtitle style="padding-top: 8px">
            <div class="subtitle">
              <ion-label>{{ wisata.city }}</ion-label>
              <ion-label *ngIf="isWisataOpen(wisata)" style="color: rgb(0, 250, 54);">Open</ion-label>
              <ion-label *ngIf="!isWisataOpen(wisata)" style="color: red;">Closed</ion-label>
            </div>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
