<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute; top: 10px; left: 10px">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Edit Wisata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div
    class="ion-padding"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    "
  >
    <form class="form ion-padding" (ngSubmit)="update(wisata)">
      <div class="previewPhoto">
        <p style="margin-bottom: 10px; font-size: 16px; color: white">Photo Preview</p>
        <img src="{{ wisata.photo }}" />
      </div>
      <div class="container-form-btn" style="margin: 20px 0">
        <button
          (click)="changePhoto()"
          class="form-btn custom-font"
          style="background-color: #488AFF; color: white; text-transform: none !important;"
        >
          Change Photo
        </button>
      </div>
      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="name"
          [(ngModel)]="wisata.name"
          placeholder="name"
        />
      </div>
      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="city"
          [(ngModel)]="wisata.city"
          placeholder="city"
        />
      </div>
      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="address"
          [(ngModel)]="wisata.address"
          placeholder="address"
        />
      </div>
      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="openHour"
          [(ngModel)]="wisata.openHour"
          placeholder="Open Hour"
        />
      </div>

      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="closeHour"
          [(ngModel)]="wisata.closeHour"
          placeholder="close Hour"
        />
      </div>

      <div class="wrap-input">
        <input
          class="input"
          type="number"
          name="price"
          [(ngModel)]="wisata.price"
          placeholder="price"
        />
      </div>
      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="description"
          [(ngModel)]="wisata.description"
          placeholder="description"
        />
      </div>

      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="history"
          [(ngModel)]="wisata.history"
          placeholder="history"
        />
      </div>

      <div class="wrap-input">
        <input
          class="input"
          type="number"
          name="latitude"
          [(ngModel)]="wisata.latitude"
          placeholder="latitude"
        />
      </div>
      <div class="wrap-input">
        <input
          class="input"
          type="number"
          name="longtitude"
          [(ngModel)]="wisata.longtitude"
          placeholder="longtitude"
        />
      </div>

      <div class="container-form-btn" style="margin-top: 26px">
        <button class="form-btn custom-font" type="submit">Update</button>
      </div>
      <!-- <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label> -->
    </form>
  </div>
</ion-content>
