<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-font">Home</ion-title>
    <ion-buttons
      slot="primary"
      style="position: absolute; top: 10px; right: 10px"
    >
      <ion-icon
        *ngIf="!isLoggedIn()"
        size="large"
        name="log-in-outline"
        routerLink="/login"
      ></ion-icon>
      <ion-icon
        *ngIf="isLoggedIn()"
        size="large"
        name="log-out-outline"
        (click)="logOut()"
      ></ion-icon>
    </ion-buttons>
    <div class="back-circle"></div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <div class="searchCity">
          <img
            src="../../../../assets/icon/location.png"
            (click)="showCity()"
          />
          {{ defaultPlace }}
        </div>
        <ion-button [routerLink]="['./create-wisata']">
          <ion-icon name="newspaper-outline"></ion-icon>
        </ion-button>
        <hr />
        <ion-item-sliding #slidingItem *ngFor="let wisata of wisatas">
          <ion-item style="font-family: Lato-Light">
            {{ wisata.name }}
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option
              color="primary"
              [routerLink]="['./edit-wisata', wisata.id]"
            >
              <ion-icon name="create-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteData(wisata.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <div style="display: flex; justify-content: flex-end; margin-top: 8px;">
          <ion-button [routerLink]="['./photo-approve']" style="padding: 20;">
            <ion-icon name="images-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
