<ion-tabs>
  <ion-tab-bar class="my-custom-tab-bar" slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="leaderboard">
      <ion-label>Leaderboard</ion-label>
      <ion-icon name="podium-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-label>About Us</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
