<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
	<ion-toolbar>
    <ion-title class="ion-text-center custom-font">Top<br>Contributor</ion-title>
    <div class="back-circle"></div>
	</ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="user__item" *ngFor="let user of users; let i = index" [color]="user.email === currentEmail ? 'light' : ''">
          <div class="user">
            <div style="display: flex; align-items: center;">
              <ion-label>{{ (i + 1) }}</ion-label>
              <ion-avatar style="width: 40px;  height: 40px; margin-left: 20px;">
                <img src="{{ user.photo }}" />
              </ion-avatar>
              <ion-label style="margin-left: 20px">{{ user.name }}</ion-label>
            </div>
            <ion-label>{{ user.contribution }}</ion-label>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
