<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute; top: 10px; left: 10px">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div
    class="ion-padding"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    "
  >
    <form
      class="form ion-padding"
      [formGroup]="validationForm"
      (ngSubmit)="tryRegister(validationForm.value)"
    >
      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="validation-errors" style="margin-left: 25px">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div
            class="error-message"
            *ngIf="validationForm.get('email').hasError(validation.type) && (validationForm.get('email').dirty || validationForm.get('email').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="wrap-input">
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          required
        />
      </div>
      <div class="validation-errors" style="margin-left: 25px">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div
            class="error-message"
            *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password').dirty || validationForm.get('password').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div class="wrap-input">
        <input
          class="input"
          type="text"
          name="name"
          placeholder="Name"
          formControlName="name"
          required
        />
      </div>

      <div class="wrap-input">
        <input
          class="input"
          type="number"
          name="age"
          placeholder="Age"
          formControlName="age"
          required
        />
      </div>

      <div class="container-form-btn" style="margin-top: 26px">
        <button
          class="form-btn custom-font"
          type="submit"
          [disabled]="!validationForm.valid"
        >
          Register
        </button>
      </div>
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">
      Already have an account? <a (click)="goLoginPage()">Try to Log In.</a>
    </p>
  </ion-toolbar>
</ion-footer>
