<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute; top: 10px; left: 10px">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-font">Photo<br>Approve</ion-title>
    <div class="back-circle"></div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid style="margin-top: 8px">
    <ion-row>
      <ion-col size="10" offset="1" style="padding: 0">
        <ion-item *ngFor="let item of approves" lines="none" style="--background: transparent; margin-top: 12px;">
          <ion-thumbnail slot="start">
            <img src="{{ item.photo }}" />
          </ion-thumbnail>
          <ion-label style="margin: 0; padding: 0;">
            <h3 style="color: white">{{ item.wisataName }}</h3>
            <p style="color: white">by {{ item.userName }}</p>
            <p style="display: flex; justify-content: space-around;">
              <ion-icon (click)="approve(item)" name="checkmark-outline" size="large" style="color: lime"></ion-icon>
              <ion-icon (click)="reject(item)" name="close-outline" size="large" style="color: red"></ion-icon>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
